:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #626262;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* Home page button */
#start {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#startButton {
margin-left: 20px;
margin-top: 12px;
background: transparent;
border: none;
}
#start-img {
margin-left: 25px;
margin-top: 5px;
width: 70px;
height: 70px;
}

/* Battle page */
#battle-wrapper {
  justify-content: center;
}

.block {
  margin-left: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50px;
  background-color: rgb(171, 171, 168);
  border-radius: 20px;
}

textarea:focus, input:focus {
  padding-left: 5px;
  outline: none;
  border-radius: 10px;
  height: 30px;
}

.input-wrapper {
  height: 30px;
}

.name-input {
  margin-right: 10%;
  margin-top: 7px;
  border: none;
  border-radius: 10px;
  height: 30px;
  padding-left: 5px;
}
